h1{
    font-family: MingLiU, sans-serif;
    font-size: 500%;
    color: hotpink;
    text-align: center;
    text-shadow: 4px 4px 8px pink;
}

h2{
    font-family: MingLiU, sans-serif;
    color: orange;
    font-size: 200%;
}
h3{
    font-family: MingLiU, sans-serif;
    font-size: 150%;
    color: dodgerblue;
}

h1, h3{
    text-align: center;
}

#dashes{
    font-size: 200%;
}

#error{
    color: red;
}

body{
    background-color: #ffff66;
    text-align: center;
}


#dashes, #numGuesses, #guessedLetters{
    color: hotpink;
    width: 400px ;
    font-family: MingLiU, sans-serif;
}

select{
    font-family: MingLiU, sans-serif;
    border: 2px solid blue;

}
input[type=text]{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid orange;
    font-family: MingLiU, sans-serif;


}

#image{
    display: block;
    margin-left: auto ;
    margin-right: auto ;
    width: 20%;
}

.center{
    margin-left: auto ;
    margin-right: auto ;
}

button{
    font-family: MingLiU, sans-serif;
    background-color: #FF6347;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
