h1{
    font-family: Klee;
    font-size: 400%;
    color: hotpink;
    text-align: center;
    text-shadow: 4px 4px 8px pink;
}

h2{
    font-family: Klee;
    color: orange;
    font-size: 150%;
}
h3{
    font-family: Klee;
    font-size:100%;
    color: dodgerblue;
}

h1, h3{
    text-align: center;
}

#dashes{
    font-size: 200%;
}

#error{
    color: red;
}

body{
    background-color: #ffff66;
    text-align: center;
}


#dashes, #numGuesses, #guessedLetters{
    color: hotpink;
    width: 300px ;
    font-family: Klee;
}

input[type=text]{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid orange;

}

#image{
    display: block;
    margin: auto;
    width: 20%;
}

.center{
    margin-left: auto ;
    margin-right: auto ;
}

#button{
    font-family: Klee;
    background-color: #FF6347;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto ;
}
